---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import { sponsorshipPackages } from './prospectusContent.js';
import SponsorshipPackage from '~/components/widgets/SponsorshipPackage.astro';
---

<WidgetWrapper containerClass="p-[1.75rem] md:p-24">
  <h2 class="text-pycon-yellow font-bold text-xl sm:text-4xl">Sponsorship Packages</h2>
  <p class="font-semibold mb-12">
    We offer a range of sponsorship packages to meet your business goals. Below are the available sponsorship levels:
  </p>

  <div class="grid grid-cols-1 xl:grid-cols-3 gap-10">
    {sponsorshipPackages.map((sponsorship) => <SponsorshipPackage {...sponsorship} />)}
  </div>
</WidgetWrapper>
