---
import { type Speaker } from './speakersContent.ts';
import { Image } from 'astro:assets';

interface Props {
  speaker: Speaker;
}

const { speaker } = Astro.props;
---

<div class="sm:hidden group sm:border-pycon-yellow rounded-md relative">
  <div class="h-72 w-72">
    <Image
      class="w-full border-[3px] border-pycon-yellow rounded-full"
      src={speaker.image}
      alt={`${speaker.name.trim()}`}
      width={150}
      height={150}
    />
  </div>
  <div class="flex flex-col text-white font-bold mx-auto py-5">
    <span class="text-2xl">{speaker.name}</span>
    <span class="text-pycon-yellow">{speaker.title}</span>
  </div>
</div>
