---
import Layout from '~/layouts/PageLayout.astro';

import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'Pycon Mini Davao 2024 | Code of Conduct',
};
---

<Layout metadata={metadata}>
  <div class="font-montserrat">
    <section>
      <h1 class="font-semibold text-4xl md:text-6xl xl:text-8xl">
        Code of <span class="text-pycon-yellow">Conduct</span>
      </h1>
      <h2>PYCON MINI DAVAO 2024</h2>

      <p>
        <span>Pycon Mini Davao </span> is a community event dedicated to promoting collaboration, learning, and innovation
        within the Python community. We are committed to providing a welcoming, safe, and inclusive environment for all participants.
        All attendees, speakers, exhibitors, organizers, and volunteers at PyCon Mini Davao are required to adhere to the
        following Code of Conduct, which will be enforced throughout the event.
      </p>

      <Button variant="secondary" class="dark:border-white text-pycon-yellow">Read full version</Button>
    </section>

    <section>
      <div>
        <div>
          <h3>Contact <span>Information</span></h3>
          <p>
            If you believe someone is violating the Code of Conduct or if you have any other concerns, please reach out
            to a member of the PyCon Mini Davao Code of Conduct workgroup immediately. You can contact them via email at
            durianpy.davao@gmail.com.
          </p>
        </div>
        <div>
          <h3>License</h3>
          <p>
            This Code of Conduct is adapted from the PyCon US 2015 Code of Conduct and is licensed under a Creative
            Commons Attribution 3.0 Unported License.
          </p>
        </div>
      </div>
    </section>
  </div>
</Layout>
