---

import Layout from '~/layouts/PageLayout.astro';

import Note from '~/components/widgets/Note.astro';
import SponsorshipPackage from '~/components/widgets/SponsorshipPackage.astro';
import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';
import Image from 'astro/components/Image.astro';
import pyconBlueprint from '~/assets/images/pycon-blueprint.svg';
import map from '~/assets/images/prospectus/map.png';

const eventDetails = [
  {
    icon: 'calendar',
    text: 'September 26, 2024 at 12:00 PM - 5:00 PM',
  },
  {
    icon: 'pin',
    text: 'Ateneo de Davao University (Tentative)',
  },
  {
    icon: 'thinking',
    text: 'Python Developers, Tech Startups, Agency Representatives, Computer Science Students, and Tech Enthusiasts',
  },
];

const sponsorshipPackages = [
  {
    heading: 'Silver Sponsor',
    id: 'silver',
    price: 7000,
    benefits: [
      'Logo placement on the event website and promotional materials.',
      'Recognition as a Silver Sponsor during the event.',
      '1 complimentary event pass for your team or guests.',
      'Inclusion in the official event recap on the DurianPy blog.',
    ],
  },
  {
    heading: 'Gold Sponsor',
    id: 'gold',
    price: 15000,
    benefits: [
      'Prominent logo placement on the event website, select promotional materials, and event signage.',
      'Recognition as a Gold Sponsor during the event, including in the official event communications.',
      'Booth space at the venue.',
      '2 complimentary event passes for your team or guests.',
      'Mention in the official event recap on the DurianPy blog.',
    ],
  },
  {
    heading: 'Platinum Sponsor',
    id: 'platinum',
    price: 30000,
    benefits: [
      'Top-tier logo placement on the event website, promotional materials, and event signage.',
      'Recognition as a Platinum Sponsor in all event communications, including opening and closing remarks.',
      'Premium booth location at the venue with priority selection.',
      '4 complimentary event passes for your team or guests.',
      'Dedicated feature in the official event recap on the DurianPy blog.',
      'Airing of a 2-minute promotional video during the event and livestream.',
    ],
  },
];
---

<Layout metadata={"metadata"}>
  <section class="flex flex-col items-center font-montserrat mt-20">
    <div class="flex flex-col items-center">
      <span
        class="font-semibold text-xl sm:text-3xl bg-gradient-to-b from-[#FEF85D] via-[#CEC94C] to-[#989438] inline-block text-transparent bg-clip-text"
        >PYCON MINI DAVAO 2024</span
      >
      <span
        class="font-bold text-2xl sm:text-[2.4rem] bg-gradient-to-b from-[#FEF85D] via-[#CEC94C] to-[#989438] inline-block text-transparent bg-clip-text"
        >SPONSORSHIP PROSPECTUS</span
      >
    </div>
  
    <Note class="m-8">
      <p slot="content" class="text-left">
        For sponsorship inquiries, please reach out to <strong>Arnel Jan Sarmiento</strong>, Community Lead of DurianPy
        Davao Python User Group, at <strong>durianpy.davao@gmail.com</strong>.
      </p>
    </Note>
  
    <section class="flex p-8 md:p-16 gap-10 w-11/12 max-w-[1300px]">
      <div class="md:w-7/12">
        <div class="font-bold text-xl xl:mb-16 md:text-4xl md:w-[320px] text-pycon-yellow md:text-white">
          <span class="text-pycon-yellow">About</span>
          Pycon Mini Davao <span class="text-pycon-yellow">2024</span>
        </div>
        <Icon name="quote" class="w-[80px] md:w-[100px] h-auto" />
        <p class="pl-8 md:pl-5 md:text-lg lg:text-2xl font-medium leading-6 lg:leading-9">
          PyCon Mini Davao 2024 is a half-day event dedicated to empowering the Python community in Davao City. Under the
          theme <span class="text-pycon-yellow">"Empowering Innovation Through Python" </span>this event will bring
          together Python developers, tech enthusiasts, and professionals to explore the role of Python in driving
          innovation within local startups and agencies.
        </p>
      </div>
      <!-- Right: Image thing -->
      <Image src={pyconBlueprint} alt="pycon blueprint" class="w-0 sm:w-5/12 h-auto" />
    </section>
  
    <section class="flex w-full bg-pycon-purple bg-opacity-[0.17]">
      <div class="p-8 pr-0 md:w-[600px]">
        <h2 class="text-pycon-yellow font-bold text-xl sm:text-4xl mb-6">Event Details</h2>
        {
          eventDetails.map((detail) => (
            <div class="flex sm:text-xl gap-2 items-start mb-4">
              <Icon name={detail.icon} class="flex-shrink-0 w-5 sm:w-12 h-auto" />
              <span class="leading-9 -mt-2 sm:mt-2">{detail.text}</span>
            </div>
          ))
        }
      </div>
      <Image src={map} alt="map" class="flex-shrink-0 h-full w-auto sm:h-[200%] relative top-0" />
    </section>
  
    <section class="p-[1.75rem] md:p-24">
      <h2 class="text-pycon-yellow font-bold text-xl sm:text-4xl">Sponsorship Packages</h2>
      <p class="font-semibold mb-12">
        We offer a range of sponsorship packages to meet your business goals. Below are the available sponsorship levels:
      </p>
  
      <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-10">
        {sponsorshipPackages.map((sponsorship) => <SponsorshipPackage {...sponsorship} />)}
      </div>
    </section>
  
    <section
      class="w-full py-8 md:py-20 px-10 gap-5 flex flex-col items-center text-center bg-pycon-purple bg-opacity-[0.17]"
    >
      <h2 class="text-pycon-yellow text-4xl font-bold">GET INVOLVED</h2>
      <p class="md:text-xl">
        We are open to discussing customized sponsorship packages to best align with your business objectives. If you are
        interested in sponsoring PyCon Mini Davao 2024 or have any questions, please contact us at
        durianpy.davao@gmail.com.
        <br />
        <br />
        We look forward to partnering with you to make PyCon Mini Davao 2024 a success!
      </p>
      <!-- TODO: add href -->
      <Button
        variant="secondary"
        class="border-pycon-purple dark:border-pycon-purple py-2 md:text-lg drop-shadow-[0_0_35px_rgba(255,255,255,0.35)]"
        >Contact Us</Button
      >
    </section>
  </section>
</Layout>
