---
const { heading, text, style } = Astro.props;
---

<div
  class="flex flex-col gap-5 p-5 rounded-xl bg-gradient-to-t from-[#490794] via-[#3C067A] to-[#2E045D] border-t-2 border-[#490794]"
>
  <h2 class="text-3xl font-bold">What is<br /><span class="text-pycon-yellow">{heading}</span>?</h2>
  <div class="text-sm pb-10 pr-5">
    <Fragment set:html={text} />
  </div>
</div>
