---
import Button from '~/components/ui/Button.astro';
import floorGrid from '~/assets/images/code-of-conduct/floor-grid.png';
import { getPermalink } from '~/utils/permalinks';
import { getImage, Image } from 'astro:assets';
import _pGrid from '~/assets/images/code-of-conduct/p-grid.png';
import WidgetWrapper from '../ui/WidgetWrapper.astro';

const pGrid = await getImage({ src: _pGrid, quality: 100 });
---

<WidgetWrapper containerClass="mb-10 font-montserrat max-w-7xl !pt-0 [@media(min-width:419px)]:!pr-0">
  <div class="flex">
    <div class="[@media(min-width:419px)]:basis-[80%] md:basis-2/3">
      <div class="p-8 md:p-20 pt-12 md:pt-16 lg:pt-20 !pr-0">
        <h1 class="font-semibold text-xl sm:text-6xl xl:text-7xl mb-3 sm:mb-6">
          Code of <span class="text-pycon-yellow">Conduct</span>
        </h1>
        <h2 class="font-semibold tracking-widest text-lg sm:text-3xl mb-5 sm:mb-10">PYCON MINI DAVAO 2024</h2>
        <p class="sm:text-xl mb-5 sm:mb-10 pr-4">
          <span class="text-pycon-yellow">Pycon Mini Davao </span> is a community event dedicated to promoting collaboration,
          learning, and innovation within the Python community. We are committed to providing a welcoming, safe, and inclusive
          environment for all participants. All attendees, speakers, exhibitors, organizers, and volunteers at PyConf Mini
          Davao are required to adhere to the following Code of Conduct, which will be enforced throughout the event.
        </p>
        <Button variant="secondary" class="dark:border-white text-pycon-yellow" href={getPermalink('code-of-conduct')}
          >Read full version</Button
        >
      </div>
    </div>

    <div class="[@media(max-width:419px)]:hidden relative basis-[20%] md:basis-1/3">
      <div
        class="absolute inset-0 z-0 bg-no-repeat bg-cover xl:bg-contain xl:bg-right"
        style=`background-image: url(${pGrid.src})`
      >
      </div>
    </div>
  </div>
</WidgetWrapper>

<div class="bg-gradient-to-t from-[#FEF85D4D] via-[#FEF85D1E] to-[#FFFFFF01]">
  <Image src={floorGrid} alt="perspective grid" class="w-full z-0" />
</div>
