---
import { Icon } from 'astro-icon/components';
import check from '~/assets/icons/check.svg';

interface Props {
  heading: string;
  id?: string;
  price: number;
  benefits: string[];
}

const { heading, id, price, benefits } = Astro.props;
---

<section class="rounded-2xl px-8 py-4 border border-pycon-purple">
  <div class="mb-4">
      <h2 class="font-semibold text-3xl inline-block text-transparent bg-clip-text" {...id ? { id } : {}}>{heading}</h2>
      <h4 class="font-semibold text-xl text-pycon-purple">₱{price.toLocaleString()}</h4>
  </div>
  <div>
    <h3 class="font-medium text-xl">Benefits:</h3>
    {
      benefits.map((benefit) => (
        <span class="flex gap-2 items-start leading-6 mb-2">
          <Icon name="check" class="flex-shrink-0 w-6 h-6" />
          <p>{benefit}</p>
        </span>
      ))
    }
  </div>
</section>

<style>
  #silver {
    background-image: linear-gradient(to bottom, #c2c2c2, #5c5c5c);
  }
  #gold {
    background-image: linear-gradient(to bottom, #fef85d, #989438);
  }
  #platinum {
    background-image: linear-gradient(to bottom, #ffffff, #5c5c5c);
  }
</style>
