---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import gridWarp1 from '~/assets/images/hero/grid-warp-1.png';
import WhatIsPycon from '~/components/widgets/what-is/WhatIsPycon.astro';
import Schedule from '~/components/widgets/Schedule.astro';
import ContactAndLicense from '~/components/widgets/ContactAndLicense.astro';
import CodeOfConduct from '~/components/widgets/CodeOfConduct.astro';
import pyconHero from '~/assets/images/logo.png';
import Sponsors from '~/components/widgets/sponsors/Sponsors.astro';

const metadata = {
  title: 'PyConf Mini Davao',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    id="hero"
    actions={[
      {
        variant: 'primary',
        text: 'Get Tickets',
        href: 'https://www.techtix.app/pycon-mini-davao-2024/preregister',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      <div class="flex w-full pb-6 justify-center drop-shadow-[0_0_250px_rgba(0,0,0,1)]">
        <Image class="md:w-[75%] max-h-[70vh] md:h-auto" src={pyconHero} alt="Pycon Hero" />
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      <div class="mt-[6vh] mb-16 md:mt-10 flex flex-col text-lg font-bold md:flex-row md:text-2xl md:justify-between">
        <span>September 26, 2024</span>
        <a
          href="https://maps.app.goo.gl/NwnFYbzvmCDVih9r8"
          target="_blank"
          class="text-pycon-yellow flex items-center justify-center gap-2 hover:underline"
        >
          <Icon name="tabler:map-pin" />
          Ateneo de Davao University
        </a>
      </div>
    </Fragment>

    <Fragment slot="bg">
      <Image class="absolute bottom-0 w-full" src={gridWarp1} alt="gridWarp1" quality={100} />
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <WhatIsPycon id="what-is-pycon" />

  <!-- Schedule Widget **************** -->
  <Schedule id="schedule" title="Schedule">
    <Fragment slot="bg">
      <div class="absolute inset-0" style="background: linear-gradient(180deg, #2A0455 70%, #3D3C19 100%);"></div>
    </Fragment>
  </Schedule>

  <!-- Code of Conduct Widget ******** -->
  <CodeOfConduct />
  <ContactAndLicense id="contact-us" />

  <!-- Sponsorship Widget ************ -->
  <Sponsors />
</Layout>
