---
import { Image } from 'astro:assets';
import logo from '~/assets/images/logo.png';
import grid from '~/assets/images/navbar/grid.png';
---

<span
  class="self-center relative ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image src={logo} alt="Pycon Mini Davao" width={135} height={60} class="p-4 z-[5] relative" />
  <Image src={grid} alt="Grid" width={140} height={150} class="absolute inset-0 h-full left-10 bottom-7 z-[1]" />
</span>
