---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Card from '~/components/widgets/WhatIsCard.astro';

const cardContent = [
  {
    heading: 'PyCon',
    text: 'PyCon, also known as the Python Annual Conference, is the annual event of the global Python community. The original PyCon was formed in North America in 2003, and now there are many other conferences being run in the PyCon spirit around the world.',
    id: 'pycon',
  },
  {
    heading: 'PyCon Mini Davao',
    text: "PyCon Mini Davao is a dedicated event in <b>Davao City</b> focused on the discussion and promotion of Python programming. Organized by local enthusiasts, this half-day event highlights Python's role in driving innovation across startups and agencies. We invite Python developers, tech enthusiasts, and beginners alike to join us in sharing knowledge, exchanging ideas, and building connections within the Python community. This year's PyCon Mini Davao emphasizes empowering innovation and fostering collaboration, aiming to inspire attendees and strengthen the Python ecosystem in the region.",
    id: 'pycon-mini-davao',
  },
];

const { bg = await Astro.slots.render('bg') } = Astro.props;
---

<WidgetWrapper containerClass="p-[1.75rem] md:p-2 flex overflow-visible" bg={bg}>
  <section class="flex md:flex-row flex-col gap-4 md:basis-[75%]">
    {cardContent.map((content) => <Card {...content} />)}
  </section>
</WidgetWrapper>
